body {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
}

div.inLobbyAlert {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	pointer-events: none;

	opacity: 0;
	background-color: rgba(0, 0, 0, 0.0);
}

div.inLobbyAlert.visible {
	pointer-events: initial;
	opacity: 1;
	background-color: rgba(0, 0, 0, .4);
}

div.inLobbyAlert > h2 {
	text-align: center;
	width: 100%;
	margin-top: 0;
}

div.inLobbyAlert > button {
	border-radius: 0;
	background-color: #FF4136;
	border-color: #C94C46;
	color: white;
}

div.inLobbyAlert > button:hover {
	background-color: #C94C46;
}

ul {
	width: 250px;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}

li {
	width: 100%;
	font-size: 20px;
	padding: 4px;
	padding-left: 7px;

	cursor: pointer;
	text-align: center;

	list-style-type: none;
	transition: .25s background-color linear;
}

li:hover {
	background-color: lightgray;
}

input[type="text"] {
	position: absolute;
	bottom: 5px;
	width: 60%;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}